<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">アプリ</li>
      <li>
        <a href="#">メニュー</a>
        <ul class="menu vertical">
          <li>
            <a href="#">サブメニュー1</a>
            <ul class="vertical menu">
              <li>
                <a href='#'>説明1</a>
              </li>
              <li>
                <a href='#'>説明2</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">
          ユーザ名
        </a>
        <ul class="menu vertical">
          <li><a href="#">ログアウト</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
